<meta http-equiv="refresh" content="2000">
<div class="container">
  <table class="table table-hover">
      <thead>
          <tr>
              <td>ISBN</td>
              <td>Title</td>
              <td>Release Date</td>
              <td>Author Name</td>
              <td>Unit Price</td>
              <td>Quantity</td>
              <td colspan="1">Actions</td>
          </tr>
      </thead>
    
      <tbody>
          <tr *ngFor="let book of books">
              <td>{{book.idBook }}</td>
              <td>{{ book.title }}</td>
              <td>{{ book.releaseDate }}</td>
              <td>{{ book.author}}</td>
              <td>{{ book.price }} DT</td>
              <td>{{ quantities[books.indexOf(book)] }} </td>
              <a  routerLink ="/panier" routerLinkActive="active" > <button (click) = "delete(book.idBook)"    class="btn btn-danger">Remove Item</button></a>
           
          </tr>
      </tbody>

      <tfoot >
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><b>Total: </b></td>
             <td>{{ total }} DT</td>
          </tr>
      </tfoot>
  </table>
</div>
<a  routerLink ="/Books" routerLinkActive="active" > <button (click) = "purchase()"    class="btn btn-success">Purchase</button></a>

  <!--<table class="table table-hover">
    <thead>
      
    <tr>
      <td> id Book </td>
    <td>Book Name</td>
    <td>Author</td>
    <td>Book Price</td>
    <td>Release Date</td>
    <td> Quantity</td>
    <td > Purchase </td>
    <td > Somme </td>

    </tr>
    </thead>
    <tbody>
    
    <td>{{book.idBook}}</td>
    <td> {{book.title}}</td>
    <td>{{book.author}}</td>
    <td>{{book.price}}</td>
    <td> {{book.releaseDate}}</td>
    <td>
      <label for="Books">Quantity:</label>
  
      <select name="qte" id="qte">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
     </td>
    <a    (click) = "calclate()"    class="btn btn-danger">Purchase</a>
    <td>

       {{total|json }}
      </td>
    </tbody>
    </table>

  -->

   

  
   